{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-transform-runtime", {
        "regenerator": true,
        "corejs": 3
      }
    ]
  ]
}
